<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
<link href='../assets/css/main.css' rel='stylesheet' />
<link href='../assets/css/style.css' rel='stylesheet' />
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src='../assets/js/main.js'></script>
<script src='../assets/js/theme-chooser.js'></script>
<style>
	.fc-daygrid-week-number {display: none;}
</style>

<!-- vendor jquery ui -->
<link rel="stylesheet" href="../assets/css/jquery-ui.min.css" media="screen, print">
<script src="../assets/js/jquery-ui.min.js"></script>

<script>


	var storageUrl = 'https://day-01.firebaseio.com/items2.json';
	var reqUrl = 'https://day-01.firebaseio.com/items.json?orderBy="$key"&startAt="2019-06"&endAt="2019-07"';

	function createCalendar(){
		$.ajax({
			url: storageUrl, // 서버에 전달할 파일명
			type: 'GET', 
			success: (data, textStatus, jqXHR) => { // 성공시 코드
				//console.log(data)
				var items;
				var calendarEl = document.getElementById('calendar');
				var calendar;
				var today = helperDateFormat.getToday();
				

				
				items = Object.keys(data).map(function (key) { 
					return data[key];
				}); 
				//console.log(items)
				initThemeChooser({
					init: function(themeSystem) {
						calendar = new FullCalendar.Calendar(calendarEl, {
							themeSystem: themeSystem,
							headerToolbar: {
								left: 'prev,next today',
								center: 'title',
								right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
							},
							initialDate: today,
							weekNumbers: true,
							navLinks: true, // can click day/week names to navigate views
							editable: true,
							selectable: true,
							nowIndicator: true,
							dayMaxEvents: true, // allow "more" link when too many events
							// showNonCurrentDates: false,
							events: items,
							dateClick: function(info) {
								var arr = items.filter((v,i) => v.start === info.dateStr);
								console.log(arr)
								if(arr.length > 0){
									var confirm_test = confirm("카카오 메세지 전송 하시겠습니까?");
 
									if ( confirm_test == true ) {
										alert("준비중...")
									} else if ( confirm_test == false ) {
										// 취소(아니오) 버튼 클릭 시 이벤트
									}
								}								
							},
							eventClick: function(info) {
								console.log(info.id)
							}
						});
						calendar.render();
					},

					change: function(themeSystem) {
						//calendar.setOption('themeSystem', themeSystem);
					},
					eventClick: function(info) {
						console.log(info)
					}

				});


			}
		})
	}
	
	
	
	/**
     * @method  helperDateFormat()
     * @param { null }
     * @returns { Object }
     * @description 
     */
	var helperDateFormat = (function(){
		
		var date = new Date();
		var year = date.getFullYear();
		var month = (1 + date.getMonth());
		month = month >= 10 ? month : '0' + month;
		var day = date.getDate();
		day = day >= 10 ? day : '0' + day;

		

		return {
			getDate(){
				return date;
			},

			getToday(){

				return year + '-' + month + '-' + day;
			},
			getISOString(){
				
				var hour = date.getHours();

				if(hour<10) hour = '0' + hour;

				var min = date.getMinutes();

				if(min<10) min = '0' + min;

				var sec = date.getSeconds();

				if(sec<10) sec = '0' + sec;

				return year + "-" + month + "-" + day + " " + hour + ":" + min + ":" + sec;

			}
		}
	})()

	console.log(helperDateFormat.getDate())



	$.fn.serializeObject = function() {
		var result = {}

		var extend = function(i, element) {
			var node = result[element.name]
			if ("undefined" !== typeof node && node !== null) {
				if ($.isArray(node)) {
					node.push(element.value)
				} else {
					result[element.name] = [node, element.value]
				}
			} else {
				result[element.name] = element.value
			}
		}

		$.each(this.serializeArray(), extend)
		return result
	}

	

	function updateItem(){
		
		var serializeObject = $('#form1').serializeObject();
		console.log(serializeObject)
		if(serializeObject.teamName !== "" && serializeObject.title !== "" && serializeObject.managerTel !== "" && serializeObject.start !== "" && serializeObject.end !== ""){
			var obj = new Object();
			
			var period =  helperDateFormat.getISOString()
			obj.id = period;
			obj.teamName = serializeObject.teamName;
			obj.title = serializeObject.title;
			obj.managerTel = serializeObject.managerTel;
			obj.start = serializeObject.start;
			obj.end = serializeObject.end;
			obj.memo = serializeObject.memo;

			

			
			var newData = JSON.stringify(obj);

			$.ajax({
				url: `https://day-01.firebaseio.com/items2/${obj.id}.json`, // 서버에 전달할 파일명
				dataType: 'text',
				cache : false,
				processData: false,
			    contentType: false,
				type: 'PUT',
				data: newData,
				success: function() {
					console.log('save success'); // 성공시 코드
					createCalendar()
				}
			});
		}
		
	}



	document.addEventListener('DOMContentLoaded', function() {
		createCalendar();
		
	});


</script>

<style>
	body {
	  margin: 0;
	  padding: 0;
	  font-size: 14px;
	}
  
	#top,
	#calendar.fc-theme-standard {
	  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	}
  
	#calendar.fc-theme-bootstrap {
	  font-size: 14px;
	}
  
	#top {
	  background: #eee;
	  border-bottom: 1px solid #ddd;
	  padding: 0 10px;
	  line-height: 40px;
	  font-size: 12px;
	  color: #000;
	}
  
	#top .selector {
	  display: inline-block;
	  margin-right: 10px;
	}
  
	#top select {
	  font: inherit; /* mock what Boostrap does, don't compete  */
	}
  
	.left { float: left }
	.right { float: right }
	.clear { clear: both }
  
	#calendar {
	  max-width: 1100px;
	  margin: 40px auto;
	  padding: 0 10px;
	}
  
  </style>

</head>
<body class="main">

	<div id='top' >

		<div class='left' style="display: none;">
	
			<div id='theme-system-selector' class='selector'>
			Theme System:
	
			<select>
				<option value='bootstrap' selected>Bootstrap 4</option>
				<option value='standard'>unthemed</option>
			</select>
			</div>
	
			<div data-theme-system="bootstrap" class='selector' style='display:none'>
			Theme Name:
	
			<select>
				<option value='' selected>Default</option>
				<option value='cerulean'>Cerulean</option>
				<option value='cosmo'>Cosmo</option>
				<option value='cyborg'>Cyborg</option>
				<option value='darkly'>Darkly</option>
				<option value='flatly'>Flatly</option>
				<option value='journal'>Journal</option>
				<option value='litera'>Litera</option>
				<option value='lumen'>Lumen</option>
				<option value='lux'>Lux</option>
				<option value='materia'>Materia</option>
				<option value='minty'>Minty</option>
				<option value='pulse'>Pulse</option>
				<option value='sandstone'>Sandstone</option>
				<option value='simplex'>Simplex</option>
				<option value='sketchy'>Sketchy</option>
				<option value='slate'>Slate</option>
				<option value='solar'>Solar</option>
				<option value='spacelab'>Spacelab</option>
				<option value='superhero'>Superhero</option>
				<option value='united'>United</option>
				<option value='yeti'>Yeti</option>
			</select>
			</div>
	
			<span id='loading' style='display:none'>loading theme...</span>
	
		</div>
	
		
	
		<div class='clear'></div>
		</div>
		<div class="calendar-wrap">
			<div id='calendar' class="cal"></div>
			<div class="btn-box">
				<button type="button" class="layer-open btn-enroll" data-modal="manager_enroll">담당자 등록</button></div>
	
		</div>
	
		<div class="checkup-wrap">
			<img src="../assets/images/checkup.png" alt="check!" class="ico-checkup">
			<p class="tit">여름에는 정수기 입구를 <b>꼭!</b> 깨끗하게 유지 해주세요!</p>
		</div>
	
		<!-- Modal 담당자 등록  -->
		<div class="layer-pop-wrap default" data-modal-call="manager_enroll">
			<div class="dimmed-layer noAction on"></div>
			<div class="layer-pop-inner-wrap">
				<div class="m-title">담당자 등록
					<a href="javascript:void(0)" class="btn-modal-closed layer-close-button">
						<img src="../assets/images/icon-close-03.png" alt="닫기">
					</a>
				</div>
		
				<!-- 저장 -->				
				<div class="m-contents">
					<article class="default-section">
						<div class="app-content sub schedule">

							<form id="form1" name="form1" method="post" class="sendForm">
								<div class="content">
									<div class="input-label-group">
										<label class="title" for="team">팀명</label>
										<div class="interval-default">
											<select name="teamName" id="teamName">
												<option value="ICT개발1팀">ICT개발1팀</option>
												<option value="ICT개발2팀">ICT개발2팀</option>
												<option value="ICT개발3팀">ICT개발3팀</option>
												<option value="ICT개발4팀">ICT개발4팀</option>
											</select>
										</div>
	
									</div>
	
									<div class="input-label-group">
										<label class="title" for="name">이름</label>
										<div class="interval-default nameWrap">										
											<input type="text" id="name" name="title" placeholder="홍길동">									
										</div>
									</div>
				
									<div class="input-label-group">
										<label class="title" for="managerTel">휴대폰</label>
										<div class="interval-default">									
											<input type="tel" pattern="[0-9]*" id="managerTel" name="managerTel" placeholder="숫자만 입력하세요">
										</div>
									</div>
				
									<div class="input-label-group input-button-group calWrap">
										<label class="title">시작일</label>
										<div class="interval-default calendar">
											<input type="text" id="startDate" name="start" class="datepicker input-full" >
											<a href="javascript:void(0);" class="btn-calendar-add">달력</a>
										</div>
									</div>
				
									<div class="input-label-group input-button-group calWrap">
										<label class="title">종료일</label>
										<div class="interval-default calendar">
											<input type="text" id="endDate" name="end" class="datepicker input-full">
											<a href="javascript:void(0);" class="btn-calendar-add">달력</a>
										</div>
									</div>
				
									<div class="input-label-group">
										<label class="title" for="memo">메모</label>
										<div class="interval-default">
											<textarea id="memo" id="memo" name="memo" placeholder="한글기준, 띄어쓰기 포함 최대 1,000자까지 입력 가능합니다."></textarea>
										</div>
									</div>
								</div>
							

								<div class="fixed-area">
									<div class="btn-area separate-02 nopd">
										<a href="javascript:void(0);" class="btn btn-gray" id="btnCancel">삭제</a>							
										<button type="button" id="saveBtn" class="btn btn-primary" onclick="updateItem(); return false;">save</button>
									</div>
								</div>
							</form>
						</div>
					</article>
				</div>
			</div>
		</div>



	
	
	<script>
		$(document).ready(function () {

			//datepicker
			// if ( $('.datepicker').length > 0 )	
			// {
			// 	$(function datePicker() {
			// 		$(".datepicker").datepicker({
			// 			prevText: '이전 달',
			// 			nextText: '다음 달',
			// 			monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
			// 			monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
			// 			dayNames: ['일','월','화','수','목','금','토'],
			// 			dayNamesShort: ['일','월','화','수','목','금','토'],
			// 			dayNamesMin: ['일','월','화','수','목','금','토'],
			// 			dateFormat: 'yy.mm.dd',
			// 			showMonthAfterYear: true,
			// 			changeMonth: true,
			// 			changeYear: true,
			// 			pos: {zIndex: 5020},
			// 			minDate : 1
			// 		});
			// 		$(document).on('click', '.btn-calendar-add', function(){
			// 			$(this).prev('input').focus();
			// 		});
			// 	});
			// }

				
			// Layer Popup 활성화
			$(document).on('click','.layer-open', function(e){

				e.preventDefault();
				var modalName = $(this).data('modal');
				var tagetDimmed = $('[data-modal-call="'+ modalName +'"]').find('.dimmed-layer');
				var targetInnerWrap = $('[data-modal-call="'+ modalName +'"]').find('.layer-pop-inner-wrap');
				var targetInnerBtn = $('[data-modal-call="'+ modalName +'"]').find('.btn-area');
				$('body').addClass('ovh');
				$('[data-modal-call="'+ modalName +'"]').addClass('on');
				setTimeout(function(){
					$(tagetDimmed).addClass('on');
					$(targetInnerBtn).addClass('on');
					var layerWrapHeight = $(targetInnerWrap).outerHeight();
					$(targetInnerWrap).css('bottom',-layerWrapHeight);
					setTimeout(function(){
						$(targetInnerWrap).addClass('on');
					}, 50);
				}, 50);
			});

			//Layer Popup 비활성화
			$(document).on('click', '.layer-pop-wrap .layer-close-button, .layer-pop-wrap .dimmed-layer', function(e){
				if($(this).hasClass('noAction')){return false;}
				e.preventDefault();
				var modalName = $(this).closest('.layer-pop-wrap').data('modal-call');
				var tagetDimmed = $('[data-modal-call="'+ modalName +'"]').find('.dimmed-layer');
				var targetInnerWrap = $('[data-modal-call="'+ modalName +'"]').find('.layer-pop-inner-wrap');
				var targetInnerBtn = $('[data-modal-call="' + modalName + '"]').find('.btn-area');
				$(tagetDimmed).removeClass('on');
				$(targetInnerWrap).removeClass('on');
				$(targetInnerBtn).removeClass('on');
				setTimeout(function(){
					$('body').removeClass('ovh');
					$('body').removeClass('fixed');
					$('[data-modal-call="'+ modalName +'"]').removeClass('on');
				} , 500);
			});
		});
	</script>
</body>

</html>
